extends layout

block headContent
	title Masternodes

block content
	h1.h3 Masternodes
	hr

	if (mnlist)

		form.form-inline.mr-3(method="get", action="/masternode-list")
			div.input-group.input-group-sm
				input.form-control.form-control-sm(type="text", name="filter", placeholder="Filter by Address/IP", value=(filter))
				div.input-group-append
					button.btn.btn-primary(type="submit")
						i.fas.fa-search

		div.card.shadow-sm.mb-3
			div.card-body
				include includes/masternodes-list.pug

				if (nodeCount > limit)
					- var pageNumber = offset / limit + 1;
					- var pageCount = Math.floor(nodeCount / limit);
					- if (pageCount * limit < nodeCount) {
						- pageCount++;
					- }
					- var paginationUrlFunction = function(x) {
						- return paginationBaseUrl + "?filter=" + query + "&limit=" + limit + "&offset=" + ((x - 1) * limit);
					- }
					
					div.pt-5
						include includes/pagination.pug
	else
		p No Masternodes found